body {
    height: 150px;
    width: 250px;
}

#buttons {
}

#imageButtons {
}

.primaryButtons {
    width: 80%;
    height: 40px;
    
    float: right;
}

.radioButtons {
    height: 45px;

    float: right;
}